# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\bfi\OneDrive - EDU BFI OOE\Desktop\Abendkurs\JAVA\20220111_interfaces_abstracts\java-exercise-04-linked-queue-affenzellerkarin\java-exercise-04-linked-queue-affenzellerkarin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
